.member-menu-container {
  min-height: 100vh;
  background-color: #d1d5db; /* Gray-300 equivalent */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.top-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.top-container .btn-back {
  position: absolute;
  left: 0;
  top: 2px;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  color: #04354f;
}

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.btn-submit {
  width: 124px;
  height: 62px;
  border-radius: 15px;
}

.form-container {
  background-color: #efefef; /* White */
  padding: 2rem;
  border-radius: 30px;
  height: 630px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-username,
input:focus {
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  width: 450px;
  height: 450px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
